.Base
  .Base__sideBar
    .Base__sideBar__item
      .Base__sideBar__item__assist
        .Base__sideBar__item__assist__name
          = current_user.name
        .Base__sideBar__item__assist__icon
          = link_to new_group_path, class: "Base__sideBar__item__assist__icon--btn" do
            = icon('fas', 'edit', class: "Base__sideBar__item__assist__icon--write")
            %span<>
          = link_to edit_user_path(current_user), class: "Base__sideBar__item__assist__icon--btn" do
            = icon('fas', 'cog', class: "Base__sideBar__item__assist__icon--setting")
            %span<>
    .Base__sideBar__list
      = render "temporaryGroup"
      = render "temporaryGroup"