.Space
  .Space__sideBar
    .Space__sideBar__item
      .Space__sideBar__item__assist
        .Space__sideBar__item__assist__name
          masa
        .Space__sideBar__item__assist__icon
          = link_to "#", class: "Space__sideBar__item__assist__icon--btn" do
            = icon('fas', 'edit', class: "Space__sideBar__item__assist__icon--write")
            %span<>
          = link_to "#", class: "Space__sideBar__item__assist__icon--btn" do
            = icon('fas', 'cog', class: "Space__sideBar__item__assist__icon--setting")
            %span<>
    .Space__sideBar__list
      .Space__sideBar__list__message
        .Space__sideBar__list__message__groupName
          techcamp
        .Space__sideBar__list__message__currentMessage
          まだメッセージがありません
      .Space__sideBar__list__message
        .Space__sideBar__list__message__groupName
          techcamp
        .Space__sideBar__list__message__currentMessage
          まだメッセージがありません
  .Space__chat
    .Space__chat__groupInfo
      .Space__chat__groupInfo__step
        .Space__chat__groupInfo__step__name
          test
        = link_to "#", class: "Space__chat__groupInfo__step__btn" do
          Edit
      .Space__chat__groupInfo__member
        Member : masa
    .Space__chat__display
      .Space__chat__display__info
        .Space__chat__display__info__name
          masa
        .Space__chat__display__info__time
          2020/06/24(Wed) 18:00:00
      .Space__chat__display__text
        message
      .Space__chat__display__info
        .Space__chat__display__info__name
          masa
        .Space__chat__display__info__time
          2020/06/24(Wed) 18:00:00
      .Space__chat__display__text
        message
    .Space__chat__form
      .Space__chat__form__textForm
        .Space__chat__form__textForm__inputArea
          type
        = label :image, class: "Space__chat__form__textForm__iconArea" do
          = icon('far', 'image', class: "test")
          %input{type: "file", class: "Space__chat__form__textForm__iconArea__image"}
      .Space__chat__form__sendBtn
        send
        -# %span<>
