.Base
  .Base__chat
    .Base__chat__groupInfo
      .Base__chat__groupInfo__step
        .Base__chat__groupInfo__step__name
          = current_group.name
        = link_to edit_group_path(current_group), class: "Base__chat__groupInfo__step__btn" do
          Edit
      .Base__chat__groupInfo__member
        Member : , = current_group.users
    .Base__chat__display
      = render @chats
    .Base__chat__form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Base__chat__form__area
          .Base__chat__form__area__textForm
            = f.text_field :content, class: 'Base__chat__form__area__textForm__text', placeholder: 'type a message'
            = f.label :image, class: 'Base__chat__form__area__textForm__image' do
              = icon('far', 'image')
              = f.file_field :image, class: 'Base__chat__form__area__textForm__image__icon'
          = f.submit 'Send', class: 'Base__chat__form__area__sendBtn'
